<mat-card>
  <mat-card-header class="header">
    <mat-card-title *ngIf="!openEditName; else editProjectNameTemp" (click)="openEdit(projectName)" class="title">{{
      projectName }}</mat-card-title>
    <ng-template #editProjectNameTemp>
      <form #f="ngForm">
        <input required type="text" [(ngModel)]="projectName" (blur)="onInputBlur()"
          (keydown.enter)="saveEditedProjectName()" class="form-control input-edit" #name="ngModel" name="name" />
      </form>
    </ng-template>

    <button mat-button class="btn1" (click)="addTask()">
      <i class="pi pi-plus"></i> Create Task
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="mat-table-container">
      <mat-table #table [dataSource]="dataSource1" cdkDropList (cdkDropListDropped)="dropToList1($event)"
        [cdkDropListData]="dataSource1" [cdkDropListDisabled]="dragDisabled">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> ToDo </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <p-checkbox [(ngModel)]="element.completed" (ngModelChange)="
                updateTaskStatusFromList1(element, element.completed)
              " [binary]="true"></p-checkbox>
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element" class="date">
            <i *ngIf="element.endDate" class="pi pi-clock"></i>
            {{ element.endDate | date : "dd MMM" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions" sticky>
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button class="edit" (click)="viewTask(element)">
              <i class="pi pi-pencil"></i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row sticky *matRowDef="let row; columns: displayedColumns" cdkDrag [cdkDragData]="row"
          class="dragCursor"></mat-row>
      </mat-table>
    </div>

    <div class="mat-table-container">
      <mat-table #table [dataSource]="dataSource2" cdkDropList (cdkDropListDropped)="dropToList2($event)"
        [cdkDropListData]="dataSource2" [cdkDropListDisabled]="dragDisabled">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Completed </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <p-checkbox [(ngModel)]="element.completed" (ngModelChange)="
                updateTaskStatusFromList2(element, element.completed)
              " [binary]="true"></p-checkbox>
            <span class="done">
              {{ element.name }}
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dueDate">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element" class="date">
            <i *ngIf="element.endDate" class="pi pi-clock"></i>
            {{ element.endDate | date : "dd MMM" }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions" sticky>
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button class="edit" (click)="viewTask(element)">
              <i class="pi pi-pencil"></i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row sticky *matRowDef="let row; columns: displayedColumns" cdkDrag [cdkDragData]="row"
          class="dragCursor"></mat-row>
      </mat-table>
    </div>
  </mat-card-content></mat-card>