.cards-container {
  margin-left: 22.2%;
  margin-top: 5.8%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  flex-direction: row;
  align-items: flex-start;
  scrollbar-color: #e1e1e1 #00000026;
  padding-bottom: 20px;
  margin-right: 20px;
}


.card-kanban-item {
  width: 300px;
  display: inline-block;
  flex: 0 0 auto;
  flex-direction: row;
  cursor: pointer;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  min-height: 118px;
  box-shadow: none;
}

.card-kanban-item:hover {
  background-color: #EEEFF0;
}


.list-name {
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  overflow-wrap: anywhere;
  color: #000033 !important;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-title {
  width: 100%;
}

.kanban-item-header {
  margin-bottom: 15px;
  margin-top: -5px;
}

.kanban-item-content {
  max-height: 450px;
  margin-top: -10px;
  margin-bottom: 6px;
  width: 100%;
  overflow-y: auto;
}


.new-list-btn {
  width: 270px;
  font-size: 15px;
  font-weight: 500;
  background-color: #EEEFF0;
  color: #4f4f62 !important;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  flex: 0 0 auto;
  margin-right: 20px;
  justify-content: flex-start;
  padding: 24px 14px;
  margin-left: 12px;
}

.new-list-btn:hover {
  color: rgb(23, 43, 77) !important;
}

.create-card-list {
  min-height: 118px;
  padding: 14px 8px;
}

.add-list-btn {
  width: 90px;
  height: 35px;
  font-size: 12px;
  font-weight: 400;
  background-color: #3f51b5;
  color: white !important;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  margin-left: 8px;

}

.save-card-btn {
  margin-left: 8px;
}

.cancel-btn {
  color: #333;
  font-size: 18px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 6px;
  margin-left: 4px;
  padding: 0px !important;
}

.cancel-btn:hover {
  background-color: #EEEFF0;
}

.input-add {
  width: 226px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(73, 80, 87);
  margin-top: -4px;
  margin-bottom: -4px;
}


.card-input {
  width: 268px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(73, 80, 87);
  margin-left: 8px;
}

.add-card-btn {
  font-size: 14px;
  font-weight: 400;
  color: #43434e !important;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  margin-left: 8px;
  margin-top: -14px;
}

.add-card-btn:hover {
  color: rgb(23, 43, 77) !important;
}

.pi-ellipsis-h {
  font-size: 16px;
  color: rgb(73, 80, 87);
}

::ng-deep .mat-mdc-menu-panel {
  padding: 2px 10px;
  border-radius: 6px !important;
  width: 155px !important;
  height: 70px !important;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: -118px !important;
}

.icon-menu-btn {
  align-items: center;
  margin-top: 6px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}

.icon-menu-btn:hover {
  overflow: hidden;
  background-color: transparent;
  transform: scale(1.1);
}

.menu-item {
  font-size: 25px;
}

.delete {
  color: rgb(73, 80, 87);
  font-size: 13px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  align-items: center;
}

.card-task {
  margin-bottom: 12px;
  box-shadow: none;
  cursor: pointer;
  border-radius: 6px;
  background-color: #ffff;
  border-top: 4px solid #6879dc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

.task-name {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  overflow-wrap: anywhere;
  color: #000033 !important;
}

.task-content {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  overflow-wrap: anywhere;
  color: rgb(97, 97, 97);
  padding-top: 10px;
  padding-bottom: 10px;
}

.progress {
  padding-top: 10px;
  padding-bottom: 10px;
}

.date {
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #515156;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-bottom: 10px;
}

.pi-clock {
  font-size: 14px;
  font-weight: 200;
  color: #515156;
  margin-top: 2px;
  margin-right: 6px;
}

input {
  border: 1px solid #dee2e6;
  border-radius: 6px;
}

.space {
  height: 10px;
}

.done {
  text-decoration: line-through;
}

.dragCursor {
  margin-right: 16px;
  cursor: pointer;
  line-height: 1;
  color: rgb(58, 58, 59, 0.991);
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: grabbing !important;
}

.cdk-drag-placeholder {
  background: #f8f9fa;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #f85f92;
}


.buttons {
  display: flex;
  align-items: center;
}

.cancel-btn {
  background-color: transparent;
  border: none;
  border-radius: 6px;
  height: 35px;
  width: 35px;
  margin-left: 3px;
  color: #383838;
}

.cancel-btn:hover {
  background-color: #edeeef;
}

.pi-times {
  font-size: 16px;
}

.pi-trash {
  margin-right: 6px;
  font-size: 14px;
}

.pi-plus {
  font-size: 13px;
  margin-right: 2px;
}

.add-card-btn .pi-plus {
  font-size: 12px;
}