<div class="mat-dialog-container">
  <div class="mat-dialog-header">
    <h2>Edit Profile</h2>
    <p-button-icon-only mat-dialog-close id="close">
      <i class="pi pi-times"></i>
    </p-button-icon-only>
  </div>
  <mat-dialog-content>
    <form #f="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input required maxlength="100" [(ngModel)]="user.firstName" #firstName="ngModel" name="firstName"
          id="firstName" class="form-control" type="text" appNoWhitespace />
      </div>
      <div class="alrt" *ngIf="firstName.invalid && firstName.touched">
        <div *ngIf="firstName.errors?.['required']">
          First Name is required.
        </div>
        <div *ngIf="firstName.errors?.['maxlength']">
          Title cannot exceed 100 characters.
        </div>
        <div *ngIf="firstName.errors?.['whitespace']">
          First Name cannot be empty.
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="lastName">Last Name</label>
        <input required maxlength="100" [(ngModel)]="user.lastName" #lastName="ngModel" name="lastName" id="lastName"
          class="form-control" type="text" appNoWhitespace />
      </div>
      <div class="alrt" *ngIf="lastName.invalid && lastName.touched">
        <div *ngIf="lastName.errors?.['required']">Last Name is required</div>
        <div *ngIf="lastName.errors?.['maxlength']">
          Title cannot exceed 100 characters.
        </div>
        <div *ngIf="lastName.errors?.['whitespace']">
          Last Name cannot be empty.
        </div>
      </div>

      <div class="form-group mt-2 p-input-icon-right">
        <label for="newPswd">New Password</label>
        <input [type]="hidePassword ? 'password' : 'text'" [required]="confirmPassword !== ''" minlength="8"
          maxlength="20" [(ngModel)]="user.password" #newPswd="ngModel" name="newPswd" class="form-control" id="newPswd"
          appNoWhitespace />
        <i #icon class="pswd-icon" (click)="hidePassword = !this.hidePassword">
          <i class="pi pi-eye" *ngIf="!hidePassword"></i>
          <i class="pi pi-eye-slash" *ngIf="hidePassword"></i>
        </i>
      </div>
      <div class="alrt" *ngIf="newPswd.touched && !newPswd.valid">
        <div *ngIf="newPswd.errors?.['required']">Enter New password.</div>
        <div *ngIf="newPswd.errors?.['whitespace']">
          newPassword cannot be empty.
        </div>
        <div *ngIf="newPswd.errors?.['minlength']">
          Password must be at least 8 characters long!
        </div>
      </div>

      <div class="form-group mt-2 p-input-icon-right">
        <label for="confirmPswd">Confirm New Password</label>
        <input [type]="hideConfPassword ? 'password' : 'text'" [required]="user.password !== ''" minlength="8"
          maxlength="20" [(ngModel)]="confirmPassword" name="confirmPswd" class="form-control" #confirmPswd="ngModel"
          type="password" id="confirmPswd" />
        <i #icon class="pswd-icon" (click)="hideConfPassword = !this.hideConfPassword">
          <i class="pi pi-eye" *ngIf="!hideConfPassword"></i>
          <i class="pi pi-eye-slash" *ngIf="hideConfPassword"></i>
        </i>
      </div>
      <div class="alrt" *ngIf="confirmPswd.touched && (!confirmPswd.valid || !passwordsMatch())">
        <div *ngIf="confirmPswd.errors?.['required']">
          Enter Confirm password.
        </div>
        <div *ngIf="!passwordsMatch() && confirmPassword != ''">
          Passwords not match!
        </div>
        <div *ngIf="passwordsMatch() && confirmPassword != ''">
          Passwords match!
        </div>
      </div>
      <button mat-button [disabled]="f.invalid || !passwordsMatch()" [mat-dialog-close]="{ user: user }"
        class="save-btn">
        Save
      </button>
    </form>
  </mat-dialog-content>
</div>