* {
  box-sizing: border-box;
}

.dashboard {
  margin-left: 22.2%;
  margin-top: 5.8%;
  overflow-x: hidden;
  padding-bottom: 40px;
}

mat-card {
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  height: 100%;
  margin-right: 22px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #000033 !important;
  font-family: "Poppins", sans-serif;
}

mat-card-title {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-wrap: nowrap;
}

.count {
  display: flex;
  height: 140px;
  margin-bottom: 22px;
}

.count mat-card-content {
  font-size: 30px;
  font-weight: 600;
  color: #000033 !important;
  margin-top: 20px;
}

.comp-tasks {
  border-left: 4px solid #64B5F6;
  width: 23%;
}

.incomp-tasks {
  border-left: 4px solid #4DB6AC;
  width: 23%;
}

.totale-tasks {
  border-left: 4px solid #7986CB;
  width: 22.5%;
}

.totale-projects {
  border-left: 4px solid #4DD0E1;
  width: 23%;
}

.tes {
  background-color: #e0e0e0;
}

.charts {
  display: flex;
}

.line-chart-card {
  width: 55%;
  height: 360px;
}

.lineChart {
  width: 500px;
  margin: 20px 8px;
}

.doughnut-chart-card {
  width: 40.5%;
  height: 420px;
}

.doughnutChart {
  width: 330px;
  margin: 20px 32px;
}

.stacked-chart-card {
  width: 55%;
  height: 350px;
  margin-top: -35px;
}

.stackedBarChart {
  width: 500px;
  margin: 20px 8px;
}

.bar-chart-card {
  width: 40.5%;
  height: 290px;
  margin-top: 25px;
}

.barChart {
  width: 400px;
  margin: 20px -10px;
}